body{
    background-attachment:scroll;
    background-image:url('images/cork_bg.png');
    background-position:top;
    background-repeat:repeat-y;
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.hover:hover{
    background: rgb(248, 124, 232);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.nav ul{
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0px;
    padding: 20px;
}

.nav li{
    background: rgb(247, 155, 242);;
    border-radius: 3px;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}

.nav .logo a{
    background-image: url("images/Home.png");
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
    display: inline-block;
    height: 50px;
    width: 50px;
    position: relative;
    right: 0px;
    text-align: right;
}

.nav .link a{
    font-size: 25px;
    position: relative;
    height: 5px;
    text-decoration: none;
}

.buttons{ 
    background: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.buttons div{
    margin: auto;   
}

.section2{
    background: red;
    padding: 20px;
}
